<ion-header>
  <ion-navbar>
    <ion-title text-center> {{ quoteGroup.category | uppercase }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
      <ion-card-header>
        <h2 text-center>#{{ i+1 }}</h2>
      </ion-card-header>
      <ion-card-content>
        <p>{{ quote.text }}</p>
        <p class="author">-> {{ quote.person }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col text-right>
          <button ion-button clear small (click)="onAddFavourite(quote)" *ngIf="!isFavourite(quote)">
            Favourite
          </button>
          <button ion-button clear small color="danger" (click)="onRemoveFavourite(quote)" *ngIf="isFavourite(quote)">
            Unfavourite
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
